/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  border-radius:0 !important;
}
@media only screen and (max-width: 769px) {
/* ========================================================
   0A.BASIC_STYLES-MOBILE
=========================================================== */
html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{
	font-weight:300;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1em;
	line-height:28px;
}

/* ========================================================
   0B.TYPOGRAPHY-MOBILE
=========================================================== */
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:18px;
	font-weight: 300; 
	line-height: 1.2em;
	text-align:center;
	vertical-align:middle;
	text-decoration: none;
}
h1{
	font-size:22px;
}
h2{
	font-size:20px;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
}
h6{
	font-size:12px;
}
p{
	font-size:18px;
}
a{
	text-align: center!important;
}
input, textarea{
	font-size:16px!important;
}
}

@media only screen and (min-width: 769px) {
/* ========================================================
   0A.BASIC_STYLES-DESKTOP
=========================================================== */
html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{
	background:#FFF;
	font-weight:300;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1em;
	line-height:28px;
}
/* ========================================================
   0B.TYPOGRAPHY-DESKTOP
=========================================================== */
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	font-weight: 300; 
	line-height: 1.5em;
	text-align:center;
	vertical-align:middle;
	text-decoration: none;
}
h1{
	font-size:55px;
}
h2{
	font-size:34px;
}
h3{
	font-size:22px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
p{
	font-size:20px;
}
hr{
	font-weight: 700;
	height:20px;
	width:50%;
}
input, textarea{
	font-size:16px !important;
}
.justify{
	text-align: justify;
}
}
/* ========================================================
   ACTUAL STYLES
=========================================================== */

body{
	background: #000;
	color: #fff;
}

/* Navbar Styles */
.navbar{
	margin:0px;
	background:#000;
	border-color:#000;
	border-bottom: 1px solid white;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .nav li a{
	color: #fff;
}
.navbar .nav > li > a:hover {
  color: #228DFF;
}

/* Home Page */
#logo{
	position:relative;
	top:200px;
}
#wettLogo {
  width:50%;
  padding:10px;
  margin: 0 auto; 
  background: #000;
  border: 1px solid white;
  border-radius: 10px !important;
  -webkit-box-shadow: 0 20px 50px 10px #228DFF;
     -moz-box-shadow: 0 20px 50px 10px #228DFF;
          box-shadow: 0 20px 50px 10px #228DFF;
}
@media only screen and (min-width: 769px) {
.home{
	height: 100%;
	width: 100%;
	background: asset-url("sunset.jpg", image) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
.home{
	height: 100%;
	width: 100%;
}

#about{
	padding-top:80px;
	height: 100%;
	width: 100%;
}

/* Shop Styles */

.gallery{
	width: 100%;
	height: 100%;
}

.gallery:hover{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */	
}

.store{
	padding-top: 80px;
	padding-bottom: 10px;
}

.contact{
	padding-top: 80px;
}

.contact-form{
	color: black;
	text-align: left;
}
.align-left{
	text-align:left
}


.store-edit{
	border: 1px solid #228DFF;
	border-radius: 20px !important;
	background:#228DFF;
	color:black;
	margin-top: 80px;
	padding-bottom: 10px;
}

.store-edit a{
	color: white;
}
.store-edit a:hover{
	color: black;
	background:#228DFF;
	text-decoration:none;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
td{
	border:1px solid white;
	padding: 5px;
}
td a{
	color: blue;
}
.cover{
	height: 100%;
	margin: 0px;
}
#goto{
	text-align: center;
	text-decoration: none;
}
.center{
	padding-top: 10%;
}
.actions{
	text-align: center;
	color: #228DFF;
}
#comments{
	background: #228DFF;
}
/*---------------*/
/***** Duke *****/
/*---------------*/

figure.effect-duke {
	background: -webkit-linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
	background: linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
}

figure.effect-duke img,
figure.effect-duke p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-duke:hover img {
	opacity: 0.1;
	-webkit-transform: scale3d(2,2,1);
	transform: scale3d(2,2,1);
}

figure.effect-duke h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

figure.effect-duke p {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
	padding: 30px;
	border: 2px solid #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transform-origin: 50% -100%;
	transform-origin: 50% -100%;
}

figure.effect-duke:hover h2,
figure.effect-duke:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}


/* Common style */
figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}







