<div class="cover">
	<div class="container contact">
		<div class="center">
		<h1>Contact Us</h1>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
				<p class="justify">
					Want to learn how to make some extra cash on your campus or give and get fresh apparel? Spread the word of our awesome brand and get a cut from our sales! Leave us your name email and why you'd be a great fit. 
				</p>
				<p class="justify">
					Otherwise give us some of your feedback. We love to here from you all. 
				</p>
				</div>
			</div>
			<div class="row">
				<a href="#comments" id="goto"><h2>Submit Comment<h2></a>
			</div>
		</div>
	</div>
</div>
<div class="cover contact" id="comments">
	<div class="container center">
		<h1>Comments</h1>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
