<body>
	<div class="home">
		<div id="logo">
	    <img id="wettLogo" class="img-responsive" src="<%= asset_path( 'white.png' ) %>">
	  </div>
	</div>
	<div id= "about" class="row">
		<h1>Wett /wɛt/</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="justify">
						Let’s safely say that right now you are missing out. Why are you missing out? You’re not Wett. You’re not even close to Wett. Wett ‘N Wild? More like dry and mild. I can only imagine the heinous gear you’re currently sporting. You probably think we don’t even know how to correctly spell the word wet. Not quite. 
					</h3>
					<h3 class="justify">
						Here at Wett, by creating unique designs and throwing on an extra “T”, we have revolutionized clothing in a way that is second to none. Essentially, we went Christopher Brolumbus on the industry and your everyday life will never be the same.
					<h3>
					<h3 class="justify">
						Our high-quality Hawaiian shirts made in America will not only transform your wardrobe, they’ll transform you. Get Wett and make the beach(es) come to you.
					</h3>
					<h3 class="justify">
						Sit back, relax, and never take life too seriously. Be There. Be Free. Get Wett.
					</h3>
					<h3 class="justify">
						Sincerely,
					</h3>
					<h3 class="justify">
						The Wett Dudes
					</h3>
				</div>
			</div>
		</div>
	</div>
</body>
